/article.pdf
/article.html
/article.docx
/article_files
/agujournal2019.cls
/article.xml
/trackchanges.sty

/.luarc.json

/.quarto/
/_manuscript

.TinyTeX/
.bash_logout
.bashrc
.cache/
.code-server/
.conda/
.config/
.jupyter-server-log.txt
.jupyter/
.local/
.npm/
.profile
.wget-hsts
.yarn/
